 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     padding: 0px;
     margin: 0px;
     list-style: none;
     box-sizing: border-box;
     text-decoration: none;
 }

 section {
     min-height: 100vh;
     align-items: center;
     justify-items: center;
     justify-content: center;
     display: flex;
 }

 .container {
     max-width: 1140px;
     padding-left: 12px;
     padding-right: 12px;
     margin-right: auto;
     margin-left: auto;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-left: -12px;
     margin-right: -12px;
 }

 .accordion {
     border-radius: 5px;
     overflow: hidden;
     width: 900px;
 }

 .bg-img {
     background-image: url(../images/bg-img.png);
     background-size: cover;
     background-repeat: no-repeat;
 }

 .overflow {
     overflow-y: hidden;
 }

 .mt-10 {
     margin-top: 10px;
 }

 .head {
     font-family: "Poppins", sans-serif;
     font-size: 48px;
     font-weight: 700;
     line-height: 72px;
     text-align: center;
     color: white;
 }

 .accordion-header {
     display: flex;
     align-items: center;
     padding-left: 15px;
     cursor: pointer;
     background: black;
 }

 .accordion-header.active .arrow-svg {
     rotate: 180deg;
 }

 .arrow-svg {
     right: 1px;
     position: absolute;
     transition: 0.1s;
 }

 .position-relative {
     position: relative;
 }

 .accordion-header img {
     margin-right: 15px;
     width: 24px;
     height: 24px;
 }

 .accordion-content {
     display: none;
     padding: 15px;
     background: grey;
 }

 .accordion-content p {
     margin: 0;
 }

 .mt-30 {
     margin-top: 30px;
 }

 .accordion-header.active+.accordion-content {
     display: block;
 }

 .heading {
     font-family: "Poppins", sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 26.4px;
     text-align: left;
     padding-right: 50px;
     color: white;
     padding: 20px;
 }

 .para {
     font-family: "Poppins", sans-serif;
     font-size: 18px;
     font-weight: 400;
     line-height: 32px;
     text-align: left;
     color: white
 }

 @media (max-width:767.98px) {
     .head-2 {
         font-size: 25px;
     }

     .para-3 {
         font-size: 20px;
     }
 }

 @media (max-width:575.98px) {
     .head-2 {
         font-size: 18px;
     }

     .para-3 {
         font-size: 15px;
     }
 }